*{
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 2rem;
}
.c-item{
    display: block;
    max-width: 80%;
    max-height: 240px;
    margin: 10px auto;
}
.st-orange .circle{
     stroke: orangered;
}
.st-blue .circle{
     stroke: blue;
}
.st-yellow .circle{
     stroke: yellow;
}

.circle{
    fill: none;
    stroke-width: 2.6;
    stroke-linecap: round;
animation: progressing 1s ease-out forwards;
}
@keyframes progressing {
    0%{
        stroke-dasharray:0 100
    }
}
.circle-bg{
    fill: none;
    stroke-width: 3;
    stroke:rgb(207, 191, 169);

}
.text{
    font-size: 9px;
    fill: gray;
    text-anchor: middle;
}